:80 {

    handle /files/public/* {
        @notget not method GET
        reverse_proxy @notget backend:5000
    }
    
    handle_path /files/public/* {
        @get method Get
        root * /app/storage/public
        file_server
    }

    handle /files/public {
        reverse_proxy backend:5000
    }

    handle /files/private/* {
        reverse_proxy backend:5000
    }

    handle /files/private {
        reverse_proxy backend:5000
    }

    handle /api/* {
        reverse_proxy backend:5000
    }

    handle {
        root * /srv
        try_files {path} /index.html
        file_server
    }
}