services:
  backend:
    build: ./backend
    ports:
     - "5000:5000"
    volumes:
      - ./backend:/app
      - /mnt/drive/hoard_public:/app/public_storage
      - /mnt/drive/hoard_private:/app/private_storage
    environment:
      - JWT_SECRET=supersecretkey
      - USERNAME=admin
      - PASSWORD=password
  caddy:
    image: caddy:2.10.2-alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
      - /mnt/drive/hoard_public:/app/public_storage
      - /mnt/drive/hoard_private:/app/private_storage
    depends_on:
      - backend

volumes:
  caddy_data:
  caddy_config: