body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #f0f2f5;
}

.login-page {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: #f5f5f5; */
  padding: 2em;
  border-radius: 8px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.login-form input {
  margin: 0.5em 0;
  padding: 0.5em;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-form button {
  margin-top: 1em;
  padding: 0.5em 1em;
  font-size: 1em;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.file-page {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

.files-container {
  display: flex;
  flex-direction: column;
  padding: 2em;
  width: 50%;
}

.files-container h2 {
  margin-bottom: 1em;
}

.files-container ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.files-container li {
  background-color: white;
  margin-bottom: 0.5em;
  padding: 1em;
  border-radius: 6px;
  width: 100%;
  box-sizing: border-box;
}

.files-container a {
  text-decoration: none;
  color: #007bff;
}

.files-container a:hover {
  text-decoration: underline;
  cursor: pointer;
}