:root {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100%;
  margin: 0;
  padding: 0;

  --color-bg: #23272f;
  --color-surface: #2e3440;
  --color-text: #f4f6fb;
  --color-primary: #4f8cff;
  --color-secondary: #2658b3;
  --color-border: #3b4252;
}